# pythonの仮想環境ファイルを除外
.PT100D_homebrew

# VS Code設定ファイルを除外
.vscode

# Pythonのキャッシュファイルを除外
__pycache__/
*.pyc
*.pyo

# Git関連ファイルを除外
.git
.gitignore

# macOSのFinderがフォルダごとに作成する隠しファイル除外
.DS_Store

# pycharm関係
.idea

# key
*.key

# pyinstaller関係
dist/
build/

# for security
mail_account.txt

rakuten_meisai/

memo/

.idea/

# SQLite database
*.db
*.sqlite
*.sqlite3