{% extends 'base.html' %}
{% block title %}新規作成{% endblock %}
{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="col-lg-8 mx-auto">
    <h3>ブログ記事の作成</h3>
      <form method="POST" enctype="multipart/form-data">
        {# タイトル #}
        <div class="mb-3">
            <label for="title" class="form-label">タイトル</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="タイトル"/>
        </div>
        {# 内容 #}
        <div class="mb-3">
            <label for="body" class="form-label">内容</label>
            <textarea type="text" class="form-control" name="body" id="body" rows="8" placeholder="内容を入力してください"></textarea>
        </div>
        {# 画像ファイルのアップロード #}
        <div class="mb-3">
            <label for="img" class="form-label">画像</label>
            <input type="file" class="form-control" name="img" id="img"/>
        </div>
        {# 投稿button #}
        <button type="submit" class="btn btn-primary">投稿</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}
