{% extends 'base.html' %}
{% block title %}記事更新{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-lg-8 mx-auto">
        <h3>ブログの更新</h3>
        <form method="POST">
            {# タイトル #}
            <div class="mb-3">
                <label for="title" class="form-label">タイトル</label>
                <input type="text" class="form-control" name="title" id="title" value="{{ post.title }}"/>
            </div>
            {# 内容 #}
            <div class="mb-3">
                <label for="body" class="form-label">内容</label>
                <textarea type="text" class="form-control" name="body" id="body" rows="8" >{{ post.body }}</textarea>
            </div>
            {# 投稿button #}
            <button type="submit" class="btn btn-primary">更新</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}

