{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container card mt-5 p-3" style="width: 20rem;">
	<h1>Login</h1>
	{{ render_form(form, novalidate=True) }}
</div>

{% endblock %}


{# bootstrap5のrender_form使わない時の例 #}
{# <form method="POST" action="{{ url_for('login') }}" novalidate>
	{{ form.csrf_token }}
	<p>
		{{ form.email.label }} <br> {{ form.email(size=30) }}
		{% for err in form.email.errors %}
		<br><span style="color: red;">{{ err }}</span>
		{% endfor %}
	</p>
	<p>
		{{ form.password.label }} <br> {{ form.password(size=30) }}
		{% for err in form.password.errors %}
		<br><span style="color: red;">{{ err }}</span>
		{% endfor %}
	</p>
	{{ form.submit }}
</form> #}